.water{
    margin-top: -55rem;

}

.heading-recipes{
    margin-top: -10rem;
        font-family: "Bebas Neue", sans-serif;
        font-size: 6rem;
        color: #11484F;
        text-align: center; /* Center align the text */

}

.myborder{
    margin-bottom: -55rem;
}