@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.food-display {
    margin-top: 30px;
    width: 75%; /* Set the width to 75% */
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
    margin: 0 auto;
    padding-bottom: 4rem;

}


.food-display h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: max(4vw, 24px);
    font-weight: 300;
    text-align: center;
}

.food-display-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Ensure exactly 3 columns */
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}

/* Mobile Responsive Styles */
@media (max-width: 1024px) {
    .food-display-list {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for tablets */
    }
}

@media (max-width: 768px) {
    .food-display-list {
        grid-template-columns: 1fr; /* 1 column for mobile */
    }

    .food-display {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .food-display h2 {
        font-size: max(6vw, 20px); /* Adjust font size for mobile */
    }
}

@media (max-width: 480px) {
    .food-display h2 {
        font-size: max(8vw, 18px); /* Further adjust font size for smaller screens */
    }
}

