@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.food-display {
    margin-top: 30px;
    margin-bottom: 5rem;
    margin-left: 8rem;
}

.food-display h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: max(4vw, 24px);
    font-weight: 300;
    text-align: center;
}

.food-display-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin-top: 30px;
    gap: 10px;
    row-gap: 50px;
}