@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.shop {
  margin-top: -1rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}


.bub{
    margin-top: -1rem;
}

.bubby:hover{
    background-color: #a3eefffd;
    color: rgb(0, 142, 128);
}

.bubby:hover h3{
    color: rgb(0, 0, 0);
}

.bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bubble h2 {
  position: absolute;
  font-family: "Merriweather", serif;
  font-size: 24px;
  text-align: left;
  left: 10px; /* Adjust this value as needed to place the text on the left */
  transform: translateY(-50%); /* Vertically center the text */
  margin: 0;
  color: #00b6a1;
}

.chub{
  margin-top: -3rem;
}



