@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.heading-1{
    font-family: "Bebas Neue", sans-serif;
    font-size: 4rem;
    color: #11484F;
    text-align: center; /* Center align the text */
}

.bottom{
    margin-top: -3rem;
}