.add {
    width: 75%;
    margin-left: max(5vw, 25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
}

.add-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.add-img-upload img {
    width: 150px;
}

.add-img-upload {
    margin-bottom: 10px;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.left-column, .right-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.add-product-name input,
.add-product-description textarea,
.add-category select,
.type-price-row input {
    border: 2px solid rgba(0, 0, 0, 0.402);
    padding: 10px;
    width: 100%;
}

.add-btn {
    padding: 8px 16px;
  width: 20%;
  background-color: #007bff00; /* Transparent background color */
  color: rgb(0, 0, 0);
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.6s ease; /* Smooth transition for background color */
}

.add-btn:hover {
    background-color: rgba(0, 128, 128, 0.484);
}

.image-previews {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    margin-bottom: 10px;
}

.image-preview {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.add-types {
    gap: 15px;
}

.add-types select {
    border: 1px solid black;
    margin-bottom: 10px;
}

.add-types p {
    margin-bottom: 10px;
    font-weight: normal;
}

.type-price-row {
    display: flex;
    gap: 10px;
    height: 40px;
}

.add-type-btn {
    padding: 8px 16px;
  background-color: #007bff00; /* Transparent background color */
  width: 15.5%;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.6s ease; /* Smooth transition for background color */
}

.add-type-btn:hover {
    background-color: rgba(0, 128, 128, 0.518);
}

.cut-type{
    height: 40px;
    border: 2px solid rgba(0, 0, 0, 0.402);
}


  