.add {
    width: 70%;
    margin-left: max(5vw, 25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
}

.add input{
    border: 1px solid black;
}
.add form {
    gap: 20px;
}

.add-img-upload img {
    width: 120px;
}

.add-product-name,
.add-product-description {
    width: max(40%, 280px);
}

.add-product-name input,
.add-product-description textarea {
    border: 1px solid black;
    padding: 10px;
}

.add-category-price {
    display: flex;
    gap: 30px;
}

.add-category-price select,
.add-category-price input {
    border: 1px solid black;
    max-width: 120px;
    padding: 10px;
}

.add-btn {
    max-width: 120px;
    border-radius: 10px;
    padding: 10px;
    background-color: #0C979C;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.add-btn:hover {
    transform: scale(1.05);
}

.image-previews {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    margin-bottom: 10px;
}

.image-preview {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.add-types {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: max(40%, 280px);
}

.add-types select{
    border: 1px solid black;
}

.add-types p {
    margin-bottom: 10px;
    font-weight: normal;
}

.type-price-row {
    display: flex;
    gap: 10px;
}

.type-price-row input {
    flex: 1;
    padding: 10px;
}

.add-type-btn {
    max-width: 120px;
    border-radius:10px;
    padding: 5px;
    background-color: transparent;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    align-self: flex-start;
    border: 3px solid teal;
}

.add-type-btn:hover {
    transform: scale(1.05);
    border: 2px solid teal;
    color: black;
    background: transparent;
}

  