.add {
    width: 75%;
    margin-left: max(5vw, 25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
}

.add-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.add-img-upload img {
    width: 120px;
}

.add-img-upload {
    margin-bottom: 30px;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.left-column, .right-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.add-product-name input,
.add-product-description textarea,
.add-category select,
.type-price-row input {
    border: 1px solid black;
    padding: 10px;
    width: 100%;
}

.add-btn {
    width: 160px;
    border-radius: 10px;
    padding: 10px;
    background-color: #0C979C;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    align-self: flex-start;
    margin-top: 20px;
}

.add-btn:hover {
    transform: scale(1.05);
}

.image-previews {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    margin-bottom: 10px;
}

.image-preview {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.add-types {
    gap: 15px;
}

.add-types select {
    border: 1px solid black;
    margin-bottom: 10px;
}

.add-types p {
    margin-bottom: 10px;
    font-weight: normal;
}

.type-price-row {
    display: flex;
    gap: 10px;
    height: 40px;
}

.add-type-btn {
    max-width: 120px;
    border-radius: 10px;
    padding: 5px;
    background-color: transparent;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    align-self: flex-start;
    border: 3px solid teal;
}

.add-type-btn:hover {
    transform: scale(1.05);
    border: 2px solid teal;
    color: black;
    background: transparent;
}


  