.sidebar-2{
    width: 14%;
    min-height: 100vh;
    border-right: 2px solid rgba(0, 128, 128, 0.616);
    border-left: 2px solid rgba(0, 128, 128, 0.616);
    border-bottom: 2px solid rgba(0, 128, 128, 0.616);
    font-size: max(1vw,10px);
    margin-top: 0px;
    border-radius: 0px 0px 0px 15px;
}

.sidebar-options{
    padding-top: 30px;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sidebar-options img{
    width: 180px;
}

.sidebar-option{
    display: flex;
    align-items: center;
    gap: 12px;
    border: 3px solid rgba(0, 128, 128, 0.34);
    border-right: 0;
    padding: 10px 10px;
    border-radius: 10px 0px 0px 10px;
    cursor: pointer;
}

.sidebar-option p{
    font-size: 15px;
    font-weight: 500;
}

.sidebar-option img{
    width:25px ;
    height:25px ;
}

.sidebar-option.active{
    background-color: #c6edf4a9;
    border-color: #0C979C;
}

@media(max-width:900px){
    .sidebar-option p{
        display: none;
    }
}