@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100..900&display=swap');

.fish {
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .fish {
    margin-left: 0;
    margin-right: 0;
  }
}

.fish h2 {
  position: relative;
  margin-top: 1rem;
  margin-left: 2rem;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  font-size: 2rem;
  text-align: left;
  color: #00b6a1a1;
}

.fish hr {
  width: 95%; /* Set the width to 100% of the container */
  margin: 0 auto; /* Center align horizontally */
  height: 2px;
  background-color: #ccc;
}

