

.btn-cart{
    padding: 6px 10px;
  background-color: #F48613; /* Transparent background color */
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 209, 43);
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.8s ease;
}

.btn-cart:hover{
    background-color: transparent;
    color: #F48613;
}


