.food-item{
    width: 100%;
    margin: auto;
    box-shadow: 0px 0px 10px #00000015;
    transition: 0.3s;
    animation: fadeIn 1s;
}

.food-item-image{
    width: 100%;

}

.food-item-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

.food-item-name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.food-item-name-rating p{
    font-size: 22px;
    font-weight: 500;
}

.food-item-name-rating img{
    width: 70px;
}

.food-item-desc{
    font-weight: 600;
    color: #F48613;
    font-size: 15px;

}

.food-item-price{
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 500;
    margin:10px 0px
}

.food-item-image-container{
    position: relative;
}

.food-item-image-container .add{
    width: 35px;
    position:absolute;
    bottom: 15px;
    right: 15px;
    cursor:pointer;
    border-radius: 50%;
}

.food-item-counter{
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: white;
}

.food-item-counter img{
    width: 30px;
}

.customize-button {
    background-color: #F48613;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.customize-button:hover {
    transform: scale(1.05); /* Slightly increase the size to create a pop-out effect */
}
