@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 1.5%;
    border: 2px solid rgba(0, 128, 128, 0.616);
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px 10px 0px 0px;
}

.navbar .logo {
    width: max(13%, 80px);
}


.navbar .clock {
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
    color: #333;
    margin-left: auto;
}
