@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 3%;
    border: 3px solid rgba(0, 128, 128, 0.616);
}

.navbar .logo {
    width: max(10%, 80px);
}


.navbar .clock {
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    color: #333;
    margin-left: auto;
}
