.head {
    font-size: 2rem; /* Adjust the font size as needed */
    margin-top: 2rem; /* Adjust the spacing between the heading and the cards */
    margin-bottom:1rem;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 7rem;
    font-weight: bold;
    text-align: center;
    color: #11484F;
  }