@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navbar {
    width: 100%;
    font-family: "Outfit", sans-serif;
    padding: 5px 20px; /* Adjust padding for smaller screens */
    display: flex;
    justify-content: center; /* Center the content */
    background: linear-gradient(to right, #048676, #00b6a1);
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure it stays above other elements */
}

.nav-content {
    width: 75%; /* You can adjust this width as needed */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    margin-top: -0.3rem;
    height: auto; /* Allow logo height to adjust */
    width: 160px;
    padding: 5px; /* Simplify padding */
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px; /* Reduce gap between menu items */
    color: #ffffff;
    font-size: 18px;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 20px; /* Reduce gap between items */
}

.navbar-right .search {
    width: 20px;
    height: 20px;
}

.navbar-button {
    display: flex;
    background: transparent;
    font-size: 18px;
    color: #ffffff;
    padding: 5px 15px; /* Increase padding for easier tapping on mobile */
    border-radius: 40px;
    cursor: pointer;
    margin-right: -1rem;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.463);
}

.navbar-button:hover {
    background-color: rgba(255, 255, 255, 0.792);
    color: #000000;
}

.navbar-button-2 {
    display: flex;
    background: transparent;
    font-size: 18px;
    color: #ffffff;
    padding: 0px 20px; /* Increase padding for easier tapping on mobile */
    border-radius: 40px;
    cursor: pointer;
    margin-right: -2rem;
}

.navbar-search-icon {
    display: flex;
    align-items: center; /* Center items vertically */
    color: white;
    position: relative;
    font-size: 30px;
    margin-top: -0.3rem;
    margin-left: 1rem;
}

.navbar-search-icon .dot {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 0, 0);
    border-radius: 20px;
    top: 3px;
    right: -8px;
    margin-top: -5px;
}

.navbar-cart-link {
    display: flex; /* Ensure link behaves like a flex container */
    align-items: center; /* Center items vertically */
    text-decoration: none; /* Remove default underline */
    color: white; /* Set text color */
    margin-right: 20px; /* Adjust spacing between icon and text */
}

/* Preloader Styles */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Make sure it's on top of other elements */
}

.spinner {
    border: 8px solid #f3f3f3; /* Light gray background */
    border-top: 8px solid #00b6a1; /* Green color */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Sidebar Styles */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    background: linear-gradient(to bottom right, #ffffff, #f3f4f6);
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1000;
}

.sidebar-header {
    padding: 1rem;
    border-bottom: 1px solid #e5e7eb;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebarlogo {
    display: flex;
    align-items: center;
}

.sidebarlogo img {
    display: block;
    margin-left: 0; /* Align the logo to the left */
    width: 65px;
    height: 50px;
}

.sidebar-close {
    background: transparent;
    border: none;
    color: #4a5568;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-left: auto; /* Move close icon to the right */
}

.sidebar-close:hover {
    color: #e53e3e;
}


.menu-list {
    padding: 1rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.icons {
    font-size: 1.1rem;
    font-weight: 500;
    color: #2d3748;
    transition: color 0.3s ease;
    position: relative;
}

.icons:before {
    content: '';
    position: absolute;
    left: -20px;
    width: 4px;
    height: 100%;
    background: transparent;
    transition: background 0.3s ease;
}

.icons:hover {
    color: #02A08D;
}

.icons:hover:before {
    background: #02A08D;
}

.sidebar-bottom {
    padding: 1rem;
    border-top: 1px solid #e5e7eb;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: sticky;
    bottom: 0;
    background: #ffffff;
}

.call-button,
.call-button-2 {
    display: block;
    text-align: center;
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    background: #ffa600;
    border-radius: 0.375rem;
    text-decoration: none;
    transition: background 0.3s ease, transform 0.3s ease;
}

.call-button:hover,
.call-button-2:hover {
    background: #02A08D;
    transform: translateY(-2px);
}

@media (max-width: 640px) {
    .sidebar {
        width: 100%;
    }
}

/* Styles for the profile section in the navbar */
.navbar-profile {
    position: relative;
    margin-top: -0.3rem;
}

.navbar-profile img {
    width: 20px;
}

/* Styles for the dropdown menu, hidden by default */
.nav-profile-dropdown {
    width: max-content;
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid rgb(0, 172, 155);
    outline: 2px solid white;
    list-style: none;
    cursor: pointer;
}

/* Styles for each item in the dropdown menu */
.nav-profile-dropdown li {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.nav-profile-dropdown img {
    width: 20px;
}

.nav-profile-dropdown li:hover {
    color: #00b6a1;
}

/* Show the dropdown menu on hover */
.navbar-profile:hover .nav-profile-dropdown {
    display: flex;
}

/* Responsive styles */
@media (max-width: 1050px) {
    .navbar .logo {
        width: 100px;
    }

    .navbar-menu {
        display: none; /* Hide menu on medium screens */
    }

    .navbar-right {
        gap: 15px; /* Adjust gap */
    }

    .navbar-right img {
        width: 22px;
    }

    .navbar-right button {
        padding: 8px 20px;
        font-size: 15px;
    }
}

@media (max-width: 900px) {
    .navbar .logo {
        width: 110px;
        height: 20px;
    }

    .navbar-right img {
        width: 20px;
    }

    .navbar-right button {
        padding: 7px 16px; /* Further adjust padding */
        font-size: 14px; /* Decrease font size */
    }
}

@media (max-width: 768px) {
    .navbar {
        padding: 20px; /* Adjust padding */
    }

    .nav-content{
        width: 100%;
    }

    .navbar .logo {
        height: 25px;
        width: 120px; /* Adjust width */
        margin-left: -0.2rem;
    }

    .navbar-right {
        margin-right: 1rem;
        gap: 20px; /* Adjust gap */
    }

    .navbar-button-2 {
        display: none;
    }

    .navbar-button {
        font-size: 16px;
    }

    .navbar-search-icon {
        font-size: 14px;
    }

    .hide-text {
        font-size: 15px;
    }

    .navbar-cart-text {
        display: none;
    }

    .sidebar-close {
        display: block;
        background: none;
        border: none;
        cursor: pointer;
    }
    
    .sidebar-close p {
        margin-left: 10px;
        font-size: 24px; /* Adjust size as needed */
        color: #000; /* Adjust color as needed */
    }
}






