/* categories.css */
.categories-container-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  padding: 20px 0;
}

.arrow-icon {
  font-size: 2rem;
  cursor: pointer;
  z-index: 1;
  padding: 0 10px;
  color: #6e6e6e;
}

.left-arrow {
  position: absolute;
  left: 0;
  margin-left: 4rem;
}

.right-arrow {
  position: absolute;
  right: 0;
  margin-right: 4rem;
}

.categories-container {
  margin-left: 7rem;
  display: flex;
  gap: 10px;
  background-color: #fff;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 0 50px; /* Adjust padding to ensure arrows don't overlap */
  flex: 1; /* Allows the container to expand and use the available space */
  white-space: nowrap; /* Prevent line breaks inside the container */
}

.category-wrapper {
  display: inline-block;
  width: 180px; /* Adjust as needed */
  margin: 1rem 0;
}

.category-card {
  font-weight: 400;
  border: 1px solid #ddd;
  background-color: #fff;
  color: #6e6e6e;
  height: 110px;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.category-card img {
  max-width: 100%;
  height: 75px;
  margin: 0 auto;
}

.category-title {
  margin-top: 10px;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
  .categories-container-wrapper {
    flex-direction: column;
    padding: 10px 0;
  }

  .arrow-icon {
    font-size: 1.5rem;
    padding: 0 5px;
  }

  .left-arrow {
    position: static;
    margin-left: 0;
  }

  .right-arrow {
    position: static;
    margin-right: 0;
  }

  .categories-container {
    margin-left: 0;
    padding: 0 20px;
  }

  .category-wrapper {
    width: 140px; /* Adjust width for smaller screens */
  }

  .category-card {
    height: 90px;
  }

  .category-card img {
    height: 60px;
  }

  .category-title {
    margin-top: 5px;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .arrow-icon {
    font-size: 1.2rem;
  }

  .categories-container {
    padding: 0 10px;
  }

  .category-wrapper {
    width: 120px; /* Adjust width for smaller screens */
  }

  .category-card {
    height: 80px;
    padding: 5px;
  }

  .category-card img {
    height: 50px;
  }

  .category-title {
    font-size: 0.8rem;
  }
}



  


  