.explore-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.explore-menu h2 {
    color: #0C979C;
    font-weight: 600;
    font-size: 27px;
}

.explore-menu-text {
    font-size: 18px;
    max-width: 100%;
    color: #808080;
}

.explore-menu-list {
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping */
    gap: 40px;
    text-align: center;
    margin: 20px 0;
    overflow-x: auto; /* Enable horizontal scrolling */
    padding-bottom: 10px; /* Add padding for scrollbar */
    scroll-behavior: smooth; /* Optional: smooth scrolling */
}

.explore-menu-list::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
}

.explore-menu-list-item {
    flex: 0 0 auto; /* Prevent items from shrinking or growing */
    width: 7.5vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
    text-align: center; /* Ensure text is centered */
}

.explore-menu-list-item p {
    margin-top: 10px;
    color: #000000;
    font-size: 15px;
    cursor: pointer;
    font-weight: 500;
}

.explore-menu-list-item img{
    border-radius: 150px;
}

.explore-menu hr {
    margin: 10px 0;
    height: 2px;
    background-color: #e2e2e2;
    border: none;
}

.explore-menu-list-item .active {
    border: 8px solid #ff9d008a;
    padding: 1px;
    border-radius: 70px;
}

@media (max-width: 1050px) {
    .explore-menu-text {
        max-width: 100%;
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .explore-menu-list-item {
        width: 20vw; /* Adjust item size for smaller screens */
        min-width: 60px; /* Smaller min-width for mobile */
    }

    .explore-menu-list-item p {
        font-size: 14px; /* Adjust font size for smaller screens */
    }
}


