@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero h2 {
  position: absolute;
  margin-left: 50rem;
  margin-top: 8rem;
  font-family: "Tinos", serif;
  font-size: 7rem;
  text-align: center;
  transform: translate(-50%, -50%);
}

.hero h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #0C979C;

}

.hero h2:nth-child(2) {
  color: #0C979C;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {

  0%,
  100% {
    clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }

  50% {
    clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}



.container-products {
  display: flex;
  gap: 20px;
  /* Adjust the gap between the cards as needed */
  padding: 0;
}

.custom-height {
  height: 70vh;
  /* Adjust the height as needed */
  margin-bottom: -20rem;
}

@media (max-width: 768px) {
  .head {
    font-size: 4rem;
    /* Adjust font size for smaller screens */
  }

  .container-products {
    gap: 10px;
    /* Reduce gap between items for smaller screens */
  }
}