@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.heading {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 6rem;
    font-weight: bold;
    text-align: center;
    color: #11484F;
    margin-top: 4rem;
    margin-bottom: -10rem;
}

.background{
    background-color: #7DD5E9;
    margin-top: -3rem;
}


