/* List.css */
.list {
    padding: 20px;
    width: 100%;
  }
  
  .header {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .table-container {
    overflow-x: auto;
  }
  
  .product-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .product-table th, .product-table td {
    border: 1px solid #01B1A7;
    padding: 8px;
    text-align: left;
  }
  
  .product-table th {
    background-color: #f4f4f4;
  }
  
  .product-image {
    max-width: 100px;
  }
  
  .type-price {
    margin-bottom: 5px;
  }
  
  .edit-button, .save-button, .remove-button {
    cursor: pointer;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .edit-button {
    background-color: #01B1A7; /* Green */
    color: white;
  }
  
  .save-button {
    background-color: #01b1a8be; /* Blue */
    color: white;
  }
  
  .remove-button {
    background-color: #eeff0000; /* Red */
    color: white;
    border: 1px solid #01B1A7;
  }
  



