.list-table-format {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 2fr 0.5fr;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border: 1px solid #cacaca;
    font-size: 13px;
}

.list-table-format.title {
    background-color: #f9f9f9;
    font-weight: bold;
}

.list-table-format img {
    width: 50px;
    height: auto; /* Maintain aspect ratio */
}

.type-price {
    border-top: 1px solid #ffffff;
    padding: 5px 0;
}

.edit-buttons {
    display: flex;
    gap: 10px; /* Space between buttons */
}

.edit-buttons button {
    border: 2px solid #01B1A8;
    background-color: transparent;
    color: #01B1A8;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    transition: background-color 0.3s, color 0.3s;
}

.edit-buttons button:hover {
    background-color: #01B1A8;
    color: #ffffff;
}

@media (max-width: 600px) {
    .list-table-format {
        grid-template-columns: 1fr 2fr 1fr 1fr;
        gap: 15px;
    }

    .type-price {
        font-size: 12px;
    }

    .edit-buttons button {
        padding: 4px 8px; /* Adjust padding for mobile */
    }
}


