.list {
  padding: 20px;
  width: 75%;
  margin: 0 auto;
  height: 100vh; /* Make the list component take full height */
  display: flex;
  flex-direction: column; /* Stack header and table-container */
  font-size: 14px;
}

.table-container {
  flex-grow: 1; /* Allow table-container to expand to fill available space */
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
  overflow-x: auto; /* Enable horizontal scrolling if needed */
}

.list h2{
  margin-top: 1rem;
  color: teal;
    stroke: #218838;
    font-size: 25px;
    font-weight: 500;
}

/* Custom Scrollbar CSS */
.table-container::-webkit-scrollbar {
  width: 15px; /* Width of the scrollbar */
}

.table-container::-webkit-scrollbar-track {
  background-color: #ffffff; /* Color of the scrollbar track */
}

.table-container::-webkit-scrollbar-thumb {
  background: rgb(42, 195, 195); /* Color of the scrollbar handle */
  border-radius: 10px; /* Rounded corners for the handle */
  border: 5px solid transparent; /* Space around the handle */
  background-clip: content-box; /* Ensures background does not overlap border */
}

.product-table {
  width: 100%;
  border-collapse: collapse; /* Fix border issues on collapse */
  table-layout: fixed; /* Ensures table columns are fixed */
}

.product-table th,
.product-table td {
  border-bottom: 1px solid teal;
  padding: 8px;
  text-align: left;
}

.product-table th {
  background-color: #f4f4f4;
}

.product-image {
  max-width: 100px;
}

.type-price {
  margin-bottom: 5px;
}

.type-price-box{
  border: 1px solid black;
}

.edit-button,
.save-button,
.remove-button {
  cursor: pointer;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 5px; /* Add margin between buttons */
}

.edit-button {
  padding: 4px 8px;
  margin-left: 10px;
  background-color: #007bff00; /* Transparent background color */
  color: rgb(0, 0, 0);
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.6s ease; /* Smooth transition for background color */
}

.edit-button:hover{
  background-color: rgba(0, 128, 128, 0.498);
}

.save-button {
  padding: 4px 8px;
  margin-left: 10px;
  background-color: #007bff00; /* Transparent background color */
  color: rgb(0, 0, 0);
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.6s ease; /* Smooth transition for background color */
}

.save-button:hover{
  background-color: rgba(0, 128, 128, 0.495);
}

.remove-button {
  padding: 4px 8px;
  margin-left: 10px;
  background-color: #007bff00; /* Transparent background color */
  color: rgb(0, 0, 0);
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.6s ease; /* Smooth transition for background color */
}

.remove-button:hover{
  background-color: rgba(255, 0, 0, 0.491);
}





  



